[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.bak
*.tmp
*.log
packages/
project.assets.json
# Pastas e arquivos gerados pelo Terraform
Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/.terraform.tfstate.lock.info