<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWSSecretName" value="POC-DBSecret" />
    <add key="AWSRegion" value="us-east-1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>